<h1><%= link_to 'Gallery', image_categories_path %> / <%= @image_category.name %></h1>

<div id="menubar">
	<table width="100%">
		<tr>
			<td width="50%">
				<%= link_to 'Upload Image', new_image_category_image_path(@image_category) %> | 
				<%= link_to 'Organize Images', organize_image_category_path(@image_category) unless @images.empty? %> | 
				<%= link_to 'Edit', edit_image_category_path(@image_category) %> | 
				<%= link_to 'Delete', image_category_path(@image_category), :method => :delete, :confirm => 'Are you sure?' %>
			</td>
			<td width="50%" align="right"><%= page_entries_info @images %></td>
		</tr>
	</table>
</div>

<% if @images.empty? %>
	There is no image here 
<% else %>
	<% tableize(@images, 5, :id => :gallery) do | image | %>
		<%= link_to image_tag(image.thumbnail_url, :class => :thumbnail), image.url %>
	<% end %>
<% end %>

<%= will_paginate @images, :align => 'right' %>
